<!DOCTYPE html>
<html>

<head>
    <title>PIZZALICIOUS</title>
    <link rel="stylesheet" href="/static/css/pizza.css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>

<body>
  <div class=""><div>
    <div class="nav-container  bg-yellow " >
      <img class="logo-size" src="/static/img/mylogo.png" alt="Logo" />
    <div>
        <ul class="nav-list">
            <a href="index.html" class="my-btn button" role="button">HOME</a>
            <a href="Menu.html" class="my-btn button" role="button">MENU</a>
            <a href="About.html" class="my-btn button" role="button">CONTACT</a>
            <a href="Order.html" class="my-btn button" role="button">ORDER</a>
            <a href="login.html" class="my-btn button" role="button">LOGIN</a>
      </ul>
    </div>
    </div>
<div style="padding-top: 4rem;"><center><h1>Make your Order</h1></center> </div>

<div class="my-form">
    <form >
        <div class="form-row">
           <div class="form-group col-md-6">
            <label for="inputemail4">Enter Your Email for Confirmation: </label>
            <input type="text" class="form-control" id="inputemail" placeholder="email">
          </div>
            <div class="form-group col-md-6">
            <label for="inputsize4">Enter Pizza Size: </label>
            <input type="text" class="form-control" id="inputsize" placeholder="pizzaSize">
          </div>
          <div class="form-group col-md-6">
            <label for="inputflavour4">Enter Pizza Flavour: </label>
            <input type="text" class="form-control" id="inputflavour" placeholder="Flavour">
          </div>
        </div>
        <div class="form-group">
          <label for="inputcrust">Type of Crust</label>
          <input type="text" class="form-control" id="inputcrust" placeholder="Crust">
        </div>
        <div class="form-group">
          <label for="inputingredient1">Add Extra Ingredient 1</label>
          <input type="text" class="form-control" id="inputingredient" placeholder="ingredient1">
        </div>
        <div class="form-group">
          <label for="inputingrdient2">Add Extra Ingredient 2</label>
          <input type="text" class="form-control" id="inputingredient2" placeholder="ingredient2">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>



</div>







      <center><div class="line1"></div></center>
    <div >

        <div class="footer">
            <p>Please contact admins at admin.pizzalicious@gmail.com for any problems or questions about our resturant.</p>
            <p>DISCLAIMER: <em>PIZZALICIOUS</em> is an upcoming brand. All content used on this webiste will be functional soon and is under the rights of the developers.</p>
            <p>&copy; 2023 PIZZALICIOUS. All Rights Reserved.</p>
        </div>

    </div>



</body>

</html>
