<!DOCTYPE html>
<html>

<head>
    <title>PIZZALICIOUS</title>
    <link rel="stylesheet" href="/static/css/pizza.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
</head>

<body>

    <div class=""><div>
        <div class="nav-container  bg-yellow " >
          <img class="logo-size" src="/static/img/mylogo.png" alt="Logo" />
        <div>
            <ul class="nav-list">
                <a href="index.html" class="my-btn button" role="button">HOME</a>
                <a href="MenuVisitor.html" class="my-btn button" role="button">MENU</a>
                <a href="About.html" class="my-btn button" role="button">CONTACT</a>
                <a href="Order.html" class="my-btn button" role="button">TOOL</a>
                <a href="login.html" class="my-btn button" role="button">LOGIN</a>
          </ul>
        </div>
        </div>




<div>

    <div class="my-cards">

        <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="/static/img/1specialpizza.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">SPECIAL</h5>
            <p class="card-text">Pepperoni, Italian sausage, mushroom, onion & green pepper</p>
        </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Small: 650 </li>
            <li class="list-group-item">Medium: 1050 </li>
            <li class="list-group-item">Large: 1550</li>
            </ul>
            <div class="card-body" style="margin: auto;">
                <a href="form.html" class="card-link">Place Order</a>

            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/img/2bonefirepizza.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">CLASSIC</h5>
                <p class="card-text">Artichoke hearts, sun-dried tomatoes, roasted galic, black olives, hot sausage, roasted eggplant</p>
            </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Small: 580 </li>
                <li class="list-group-item">Medium: 950 </li>
                <li class="list-group-item">Large: 1390 </li>
                </ul>
            <div class="card-body" style="margin: auto;">
                <a href="form.html" class="card-link">Place Order</a>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/3cheesepizza.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">ARABIAN</h5>
                <p class="card-text">Pepperoni, hot sausage, onions, green peppers, mushrooms</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Small: 580 </li>
                <li class="list-group-item">Medium: 950 </li>
                <li class="list-group-item">Large: 1300 </li>
            </ul>
            <div class="card-body" style="margin: auto;">
                <a href="form.html" class="card-link">Place Order</a>

            </div>





        </div>



    </div>

    <div>

        <div class="my-cards ">

            <div class="card  " style="width: 18rem;">
                <img class="card-img-top" src="/static/img/4europizza.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Pizza Marinara</h5>
                <p class="card-text">Features tomatoes, garlic, oregano, and extra virgin olive oil.</p>
            </div>
                <ul class="list-group list-group-flush">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Small: 460 </li>
                        <li class="list-group-item">Medium: 100 </li>
                        <li class="list-group-item">Large: 1500 </li>
                </ul>
                <div class="card-body" style="margin: auto;">
                    <a href="form.html" class="card-link">Place Order</a>

                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/5pizzadelight.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pizza Margherita</h5>
                    <p class="card-text">Features tomatoes, sliced mozzarella, basil, and extra virgin olive oil.</p>
                </div>
                    <ul class="list-group list-group-flush">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Small: 700 </li>
                            <li class="list-group-item">Medium: 850 </li>
                            <li class="list-group-item">Large: 1600 </li>
                    </ul>
                <div class="card-body" style="margin: auto;">
                    <a href="form.html" class="card-link">Place Order</a>

                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/img/6supersupreme.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mediterranea.</h5>
                    <p class="card-text">Tomato sauce, buffalo mozzarella, cherry tomatoes and pepper</p>
                </div>
                <ul class="list-group list-group-flush">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Small: 380 </li>
                        <li class="list-group-item">Medium: 600 </li>
                        <li class="list-group-item">Large: 900 </li>
                </ul>
                <div class="card-body" style="margin: auto;">
                    <a href="form.html" class="card-link">Place Order</a>

                </div>





            </div>



        </div>
        <div>

            <div class="my-cards">

                <div class="card " style="width: 18rem;">
                    <img class="card-img-top" src="/static/img/7supremelabistro.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Calzone</h5>
                    <p class="card-text">Tomato sauce, mozzarella, ham, mushrooms, artichokes, anchovies, and oregano.</p>
                </div>
                    <ul class="list-group list-group-flush">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Small: 600 </li>
                            <li class="list-group-item">Medium: 950 </li>
                            <li class="list-group-item">Large: 1100 </li>
                    </ul>
                    <div class="card-body" style="margin: auto;">
                        <a href="form.html" class="card-link">Place Order</a>

                    </div>
                </div>


                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/img/8tikkapizza.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Capricciosa</h5>
                        <p class="card-text">Tomato sauce, mozzarella, ham, artichokes, mushrooms, and olives</p>
                    </div>
                        <ul class="list-group list-group-flush">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Small: 580 </li>
                                <li class="list-group-item">Medium: 950 </li>
                                <li class="list-group-item">Large: 1390 </li>
                        </ul>
                    <div class="card-body" style="margin: auto;">
                        <a href="form.html" class="card-link">Place Order</a>

                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/static/img/1specialpizza.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Padana</h5>
                        <p class="card-text">Tomato sauce, parmesan cheese, salami, zucchini, and polenta (boiled cornmeal)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Small: 800 </li>
                            <li class="list-group-item">Medium: 1050 </li>
                            <li class="list-group-item">Large: 1700 </li>
                    </ul>
                    <div class="card-body" style="margin: auto;">
                        <a href="/form.html" class="card-link">Place Order</a>

                    </div>





                </div>



            </div>





                </div>







    <center><div class="line1"></div></center>
    <div >

        <div class="footer">
            <p>Please contact admins at admin.pizzalicious@gmail.com for any problems or questions about our resturant.</p>
            <p>DISCLAIMER: <em>PIZZALICIOUS</em> is an upcoming brand. All content used on this webiste will be functional soon and is under the rights of the developers.</p>
            <p>&copy; 2023 PIZZALICIOUS. All Rights Reserved.</p>
        </div>

    </div>


    <div>
        <button id="add-to-cart">Add to Cart</button>
        <div id="cart"></div>

    </div>

    <script src="/static/js/scripts.js"></script>
</body>

</html>