<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
    <div class="main">
        <div class="in">
            <label class="lb">Upto how many Pizzas</label>
            <input type="text" id="count">
        </div>
        <button style="height: 50px;width: 150px;" id="mybutton" class="btn btn-success">ShowPizza</button>
    </div>
    <table id="show" border="2" style="margin:20px;">
        <thead>
            <tr>
               <th>Name of Pizza</th>
               <th>Description</th>
                <th>Ingredients </th>
                <th>Small Pizza Price</th>
                <th>Medium Pizza Price</th>
                <th>Large Pizza Price</th>

            </tr>
        </thead>


    </table>
    <script>
        var myData;
        console.log(document.getElementById('count').value)
        $(document.body).on('click', "#mybutton", function (e) {
            //doStuff
            console.log("hello")
            $.ajax({
                type: "GET",
                data: { 'no': document.getElementById('count').value },
                url: "/api5",
                success: function (result) {
                    myData = result
                    console.log(myData)
                    if (myData != null || myData != "") {
                        table = $('#show').DataTable({
                            data: myData, destroy: true,
                            columns: [
                                {data : 'pizzaName'},
                                { data: 'description' },
                                { data: 'pizzaIngredients' },
                                { data: 'smallPrice' },
                                { data: 'mediumPrice' },
                                { data: 'largePrice' }

                            ]
                        });
                    }
                }
            });
        });
    </script>

</body>

</html>